.product-container {
  padding: 20px;
  font-family: Arial, sans-serif;
}

.product-heading {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  gap: 20px;
}

.product-card {
  display: flex;
  border: 1px solid #c1c1c1;
  border-radius: 10px;
  overflow: hidden;
  background: #fff;
}

.product-logo2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 240px;
  opacity: 1;
  gap: 10px;
  border-radius: 20px;
  padding: 15px;
}

.product-icon {
  font-size: 24px;
  margin-bottom: 8px;
}

.product-logo-text {
  font-weight: bold;
  color: white;
  text-align: center;
}

.product-details {
  flex: 1;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-top2 {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #494949;
  position: relative;
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
}

.open-dot {
  width: 8px;
  height: 8px;
  background: green;
  border-radius: 50%;
  display: inline-block;
  margin-left: 10px;
}

.open-time {
  color: #3dbb34;
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
}

.wishlist-icon {
  display: inline-flex; /* keeps items in a row */
  align-items: center; /* vertical alignment */
  opacity: 1;
  gap: 10px;
  border-radius: 100%;
  padding-top: 14px;
  padding-right: 16px;
  padding-bottom: 14px;
  padding-left: 16px;
  background: #0a5c15;
}

.product-name2 {
  margin-top: 8px;
  font-family: Inter;
  font-weight: 600;
  font-style: Semi Bold;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 0%;
}
.product_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  vertical-align: middle;
  padding: 2px;
}
.product-rating2 {
  display: flex;
  margin: 5px 0;
  font-family: Inter;
  font-weight: 500;
  font-style: Medium;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0%;
  color: #494949;
  align-items: center;
}

.product-actions {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 10px;
}

.call-btn,
.whatsapp-btn {
  flex: 1;
  padding: 10px;
  border: 2px solid #0a6d0a;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

.call-btn {
  background-color: #0a6d0a;
  color: white;
}

.whatsapp-btn {
  background-color: white;
  color: #0a6d0a;
}
@media (max-width: 768px) {
  .product-grid {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 500px) {
  .product-name {
    font-size: 16px;
  }

  .call-btn,
  .whatsapp-btn {
    font-size: 14px;
    padding: 8px;
  }
}
